header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid grey;
}

nav {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

a {
    font-size: 18px;
    margin: 0 12px;
    text-decoration: none;
    color: #969696;
    letter-spacing: 1px;
}

a:hover {
    color: #fff;
}

ul {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active-link {
    color: #fff;
}