.md-section {
    padding: 120px 54px;
    padding-bottom: 60px;
}

.wrap {
    width: 100%;
    height: 100%;
    max-width: 1111px;
    margin: auto;
}

.movie-details {
    display: flex;
}

.movie-poster {
    width: 256px;
    flex-shrink: 0;
    border: 5px solid white;
}

.movie-details div {
    width: 100%;
    padding-left: 100px;
}

.movie-details div h1 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 44px;
}

.year {
    margin-top: 28px;
    font-size: 22px;
    text-align: left;
    font-weight: 600;
}

.genres {
    font-size: 22px;
    text-align: left;
    font-weight: 600;
}

.rating {
    margin-top: 28px;
    font-size: 22px;
    text-align: left;
    font-weight: 600;
}

.star {
    padding-right: 28px;
    color: #6ac045;
}

.stream-on {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0 !important;
    margin-top: 28px;
}

.stream-on p {
    margin-right: 28px;
}